<thead>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Module Credits</th>
    <th class="exam-time">Exam Time</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody></tbody>
<tfoot>
  <td/>
  <td/>
  <td id="total-module-credit">Total: {{totalModuleCredits}}</td>
  <td/>
  <td/>
</tfoot>
